@page "/loginmessage"

<PageTitle>Snow Making Login</PageTitle>

<br />
<div class="row">
    <div class="offset-3 col-md-6 text-center">
        <br />
        <h1>Snow Making Login</h1>
        <br />
        <div class="row mb-4">
            <h3>Login attempt has been made.</h3>
            <h6>Check your email for a link to complete the login process.</h6>
        </div>

        <!-- Email input -->
        @*<div class="form-outline mb-4">
        <input type="email" class="form-control" placeholder="Email address" />
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" style="width: 100%" @onclick="@LoginButton" @bind-value="@EmailAddress">Sign in</button>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
        <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot Password</a>
        </div>
        <div class="col">
        <!-- Simple link -->
        <a href="#!">Register</a>
        </div>
        </div>*@
    </div>
</div>

@code {

}