@page "/logout"
@using SilvermineNordic.Admin.Services;
@using SilvermineNordic.Models;
@inject HttpClient Http
@inject NavigationManager Nav
@inject ICookie cookie
@inject IGlobalService GlobalService

<PageTitle>Snow Making Logging Out...</PageTitle>

<br />
<div class="row">

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
            await cookie.SetValue("UserAuthKey", "");
            GlobalService.ClearUser();
            Nav.NavigateTo("/");
    }
}